.react-international-phone-input-container {
    width: 100%;
    height: 50px;
    border-radius: 0.5rem;
    color: #FFF;
    background-color: #20262E;
    border: 1px solid #5B718F;
}

.react-international-phone-input-container .react-international-phone-input {
    background: transparent;
    color: #FFF;
    width: 100%;
    height: 100%;
    padding: 0.75rem;
    border: none;
    border-left: 1px solid #5B718F;
}

.react-international-phone-input-container .react-international-phone-input::placeholder{
    color: #FFF;
    font-size: 16px;
}

.react-international-phone-input-container .react-international-phone-input:focus-visible {
    border-left: 1px solid #FFF;
}

.react-international-phone-input-container:focus-within{
    outline: transparent auto 0;
    border: 1px solid #FFF;
}

.react-international-phone-country-selector-button{
    background: transparent;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0.75rem;
}

.react-international-phone-country-selector-button:hover{
    background: transparent;
}

.react-international-phone-country-selector:hover{
    background: #6C829F;
}

.react-international-phone-country-selector{
    border-radius: 0.5rem 0 0 0.5rem;
}

.react-international-phone-country-selector-button__dropdown-arrow {
    border-top: var(--react-international-phone-country-selector-arrow-size, 4px) solid #FFF;
}

.react-international-phone-country-selector-dropdown {
    background: #20262E;
    color: #FFF;
    width: 250px;

}

.react-international-phone-country-selector-dropdown__list-item:hover {
    color: #000;
}

@media (min-width: 750px){
    .react-international-phone-country-selector-dropdown {
        width: 504px;
    }
}